{% load static %}

<html>
    <head>
        <title>web for dev</title>
        <link rel="stylesheet" href="{% static 'css/web.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>

<body>
  <div>
    <h1><a href="/">5 Best Web for Frontend</a></h1>
  </div>

  {% for Post in posts %}
  <div>
    <p>published: {{ Post.published_date }}</p>
    <h2><a href="">{{ Post.title }}</a></h2>
    <p>{{ Post.text|linebreaksbr }}</p>
  </div>
  {% endfor %}


</body>

</html>